html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/main.css" rel="stylesheet")
        -jobInfo = jobInfo ? jobInfo : {};
        -let titleText = jobInfo ? `Directum Viewer: Задание ${jobInfo.JobID}` : 'Directum Viewer';
        title= titleText
    body
        div.container#search-container(class= mainPage ? "" : "hidden-element")
            div.container#jumbotron
                div.jumbotron
                    div.media
                        div.media-left
                            img(src='/img/logo-directum.png' style='margin:auto')
                        div.media-body
                            h1 DIRECTUM Viewer
                            p Данная система позволяет закрывать задания, поставленные Вам, не устанавливая СЭД DIRECTUM
            div.container
                div.col-xs-offset-3.col-xs-6
                    form(action='/searchJob' method='post' name='searchJobForm')#searchJobForm
                        div.input-group
                            input.form-control.input-lg(type='text' name='searchText' placeholder='Введите ИД задания для поиска(только цифры)')#search-text
                            div.input-group-btn
                                button.btn.btn-default.input-lg(type='submit' name='searchButton')#search-button
                                    i.glyphicon.glyphicon-search
            div.container#search-results
        div.container#form-container(class= !mainPage ? "" : "hidden-element")
            h3.text-center#main-header= `Задание ИД: ${jobInfo.JobID}`
            //сообщение пользователю
            -if(messageForUser){
            div.alert.alert-info messageForUser
            -}
            div.container#messages
                //сообщения после отправки форм
                div(style = 'display:none').alert.alert-warning#message
                div(style = 'display:none').alert.alert-success#success-message
                div(style = 'display:none').alert.alert-danger#error-message
            //форма задания
            -jobInfo = jobInfo ? jobInfo : {};
            form(action='/performJob' method='post' name='jobForm')#jobForm
                div.container#jobCard
                    div.row
                        div.col-xs-2
                            div.well-sm Тема:
                        div.col-xs-10
                            div.well.well-sm#subject= jobInfo.Subject
                    div.row
                        div.col-xs-2
                            div.well-sm Инициатор:
                        div.col-xs-10
                            div.well.well-sm#author= jobInfo.Author
                    div.row
                        div.col-xs-2
                            div.well-sm Исполнитель:
                        div.col-xs-6
                            div.well.well-sm#performer= jobInfo.Performer
                        div.col-xs-1
                            div.well-sm Срок:
                        div.col-xs-3
                            //если срок - пустая строка, значит, не устанавливали ограничения
                            div.well.well-sm#final-date= jobInfo.JobFinalDate ? jobInfo.JobFinalDate : "Не установлен"
                    div.row
                        div.col-xs-12
                            div.well.well-sm#task-text(style="white-space: pre-line")= jobInfo.FullText
                    -if (showAnswerField) {
                    div#active-text-container
                        textarea.form-control#active-text(name= 'ActiveText' rows='5' placeholder='Введите сюда комментарии к выполнению, если это необходимо')
                        div.col-xs-offset-10#perform-job-container
                            div.well-sm
                                button(type='submit').btn.btn-lg.btn-success#perform-job Выполнить
                    -}
                    div.row
                        div.col-xs-2
                            div.well.well-sm
                                div.row
                                    div.col-xs-1 ИД:
                                    div.col-xs-2#id= jobInfo.JobID
                        div.col-xs-4
                            div.well.well-sm
                                div.row
                                    div.col-xs-5 Дата изменения:
                                    div.col-xs-7#modify-date= jobInfo.ModifyDate
        //подключаем необходимые скрипты
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/indexPage.js")